In [1]:
import pandas as pd

In [2]:
d = {'Sun Hours': [4.5,4.0,5.1,5],
     'Max Temp': [19.6,19.1,19.6,20.0],
     'Min Temp': [12.7,12.5,13.3,12.1],
     'Rain (mm)': [82,109,65,76],
     'Rain Days': [13,20,10,9.7]}

In [3]:
Aug_df = pd.DataFrame(d, index = ['Clare', 'Galway','Dublin', 
'Wexford'])

In [4]:
Aug_df

         Sun Hours  Max Temp  Min Temp  Rain (mm)  Rain Days
Clare          4.5      19.6      12.7         82       13.0
Galway         4.0      19.1      12.5        109       20.0
Dublin         5.1      19.6      13.3         65       10.0
Wexford        5.0      20.0      12.1         76        9.7

In [5]:
Aug_df.sort_values('Rain Days')

         Sun Hours  Max Temp  Min Temp  Rain (mm)  Rain Days
Wexford        5.0      20.0      12.1         76        9.7
Dublin         5.1      19.6      13.3         65       10.0
Clare          4.5      19.6      12.7         82       13.0
Galway         4.0      19.1      12.5        109       20.0

In [6]:
Aug_df.max()

Sun Hours      5.1
Max Temp      20.0
Min Temp      13.3
Rain (mm)    109.0
Rain Days     20.0
dtype: float64

In [7]:
Aug_d = pd.DataFrame(data=[0,1,2], index = ['a','b','c'])

In [8]:
Aug_d

   0
a  0
b  1
c  2

```Python
    def s_dict(self):
        for i in self.index:
            print(i)
            for d in self.data:
                self.dict[i] = d
                print('before remove',d)
                self.data.remove(d)
                print(d)
                print(self.data)
```

```Python
self.index = [a,b,c]
self.data = [0,1,2]

loop a 
0
1
2
loop b
0
1
2
loop c 
0
1
2

 def s_dict(self):
        for i in self.index:
            for d in self.data:
                self.dict[i] = d
                self.data.remove(d)
loop a index 0  
[0,1,2]
after remove : [1,2]

loop a index 1 
[1,2]
after remove: [1]
becasue index is increment and list is remove 
```

In [4]:
class MySeries:
    def __init__(self,data,index=[]):
        #instance call will call method to set s_dict 
        self.s_dict_v2(data,index)

    def print(self): 
        for index in self.index:
                print(index, '   ',self.item_at_ind(index))

        
            
    def s_dict_v2(self,data,index):
#         print('setting s_dict')
        #if data is dict type, can pass it directly to self.data
        if type(data) == dict:
            self.s_dict = data
            self.index = list(data.keys()) 
        else:#not a dict type then should be a list type 
            #if index is empty, remake it a dict with default index 0,1,2,3,4...n 
            if not index:
                self.s_dict = dict(enumerate(data))
                ## to make a index list so print method can use 
                self.index = list(self.s_dict.keys()) 
            else: # if index has input, match the index with data and form dict 
                self.s_dict = dict(zip(index,data))
                # add an index 
                self.index = list(self.s_dict.keys()) 
    

    def min(self):
        return min(self.s_dict.values())
    
    def max(self):
        return max(self.s_dict.values())
    
    def mean(self):
        return float(sum(self.s_dict.values())/ len(self.s_dict))
    
    def item_at_ind(self,char):
        if type(self.s_dict) == list:
            return self.s_dict.index(char)
        else:
            return self.s_dict.get(char)

#     @property 
#     def s_dict(self):
#         return self.s_dict
    
#     @s_dict.setter
#     def s_dict(self,data,index):
#         print('setting s_dict')
#         if type(data) == dict:
#             self.s_dict = data
#         else:
# #             self.s_dict = dict(zip(self.index,self.data))
#               self.s_dict = dict(zip(index,data))

In [5]:
# class MySeries:
#     def __init__(self,data,index=[0,1,2]):
#         self.index = index
#         #instance call will call method to set s_dict 
#         self.s_dict = dict()
#         self.s_dict_v2(data,index)

#     def print(self): 
#         for index in self.index:
#                 print(index, '   ',self.item_at_ind(index),sep="")
        
#     def s_dict_v2(self,data,index):
#         print('setting s_dict')
#         if type(data) == dict:
#             for item in data:
#                 self.s_dict[item] = data[item]
#                 print(self.s_dict)
            
#             for key in self.s_dict:
                
#         else:
# #             self.s_dict = dict(zip(self.index,self.data))
#             self.s_dict = dict(zip(index,data))
#     def get_s_dict(self):
#         print('getting')
#         print(self.s_dict)
#         return self.s_dict

#     def min(self):
#         return min(self.s_dict.values())
    
#     def max(self):
#         return max(self.s_dict.values())
    
#     def mean(self):
#         return float(sum(self.s_dict.values())/ len(self.s_dict))
    
#     def item_at_ind(self,char):
# #         print(char)
# #         a = self.s_dict[char]
# #         print(a)
#         return self.s_dict[char]

# #     @property 
# #     def s_dict(self):
# #         return self.s_dict
    
# #     @s_dict.setter
# #     def s_dict(self,data,index):
# #         print('setting s_dict')
# #         if type(data) == dict:
# #             self.s_dict = data
# #         else:
# # #             self.s_dict = dict(zip(self.index,self.data))
# #               self.s_dict = dict(zip(index,data))

In [6]:
ms3 = MySeries([1,2,1], index = ['a','b','c'])

In [7]:
ms3.__dict__

{'s_dict': {'a': 1, 'b': 2, 'c': 1}, 'index': ['a', 'b', 'c']}

In [8]:
ms3.s_dict

{'a': 1, 'b': 2, 'c': 1}

In [9]:
ms3.__dict__

{'s_dict': {'a': 1, 'b': 2, 'c': 1}, 'index': ['a', 'b', 'c']}

In [10]:
ms3.print()

a     1
b     2
c     1

In [11]:
ms3.item_at_ind('c')

1

In [12]:
ms3.mean()

1.3333333333333333

In [13]:
ms4 = MySeries([4,5,6])

In [14]:
ms4.s_dict

{0: 4, 1: 5, 2: 6}

In [15]:
ms4.__dict__

{'s_dict': {0: 4, 1: 5, 2: 6}, 'index': [0, 1, 2]}

In [16]:
ms4.print()

0     4
1     5
2     6

In [17]:
d = {'b': 1, 'a': 0, 'c': 2}

In [18]:
s2 = MySeries(d)

In [19]:
s2.s_dict

{'b': 1, 'a': 0, 'c': 2}

In [20]:
s2.__dict__

{'s_dict': {'b': 1, 'a': 0, 'c': 2}, 'index': ['b', 'a', 'c']}

In [21]:
s2.print()

b     1
a     0
c     2

In [6]:
class MyDataFrame:
    def __init__(self, data, index =['Clare', 'Galway','Dublin','Wexford']):
        self.inner_dict = dict()
        self.index = index
        for key ,value in data.items():
            self.inner_dict[key] = MySeries(value, index)
        
        
    def print(self):
        # take the keys out 
        header_words = self.inner_dict.keys()
        #make the keys out and rearrange into string form
        header_words = "\t"+"\t".join(header_words)
        print(header_words)

In [7]:
d = {'Sun Hours': [4.5,4.0,5.1,5],
     'Max Temp': [19.6,19.1,19.6,20.0],
     'Min Temp': [12.7,12.5,13.3,12.1],
     'Rain (mm)': [82,109,65,76],
     'Rain Days': [13,20,10,9.7]}

In [8]:
print(len(d[list(d.keys())[0]]))

4

In [11]:
a = dict()
for key,value in d.items():
    print(value)
    for v in value:
        print(v)

[4.5, 4.0, 5.1, 5]
4.5
4.0
5.1
5
[19.6, 19.1, 19.6, 20.0]
19.6
19.1
19.6
20.0
[12.7, 12.5, 13.3, 12.1]
12.7
12.5
13.3
12.1
[82, 109, 65, 76]
82
109
65
76
[13, 20, 10, 9.7]
13
20
10
9.7

In [10]:
a = list()
for i in range (len(d[list(d.keys())[0]])):
    print(i)
    for key,value in d.items():
        print(value[i])
        a.append(value[i])

print(a)

0
4.5
19.6
12.7
82
13
1
4.0
19.1
12.5
109
20
2
5.1
19.6
13.3
65
10
3
5
20.0
12.1
76
9.7
[4.5, 19.6, 12.7, 82, 13, 4.0, 19.1, 12.5, 109, 20, 5.1, 19.6, 13.3, 65, 10, 5, 20.0, 12.1, 76, 9.7]

In [303]:
df1 = MyDataFrame(d)

dict_items([('Sun Hours', [4.5, 4.0, 5.1, 5]), ('Max Temp', [19.6, 19.1, 19.6, 20.0]), ('Min Temp', [12.7, 12.5, 13.3, 12.1]), ('Rain (mm)', [82, 109, 65, 76]), ('Rain Days', [13, 20, 10, 9.7])])
****
[('Sun Hours', [4.5, 4.0, 5.1, 5]), ('Max Temp', [19.6, 19.1, 19.6, 20.0]), ('Min Temp', [12.7, 12.5, 13.3, 12.1]), ('Rain (mm)', [82, 109, 65, 76]), ('Rain Days', [13, 20, 10, 9.7])]

In [304]:
df1.__dict__

{'inner_dict': {'Sun Hours': <__main__.MySeries at 0x7fc311611a90>,
  'Max Temp': <__main__.MySeries at 0x7fc310dda590>,
  'Min Temp': <__main__.MySeries at 0x7fc310cb5c90>,
  'Rain (mm)': <__main__.MySeries at 0x7fc310cb5cd0>,
  'Rain Days': <__main__.MySeries at 0x7fc310cb5890>},
 'index': ['Clare', 'Galway', 'Dublin', 'Wexford']}

In [305]:
df1.print()

	Sun Hours	Max Temp	Min Temp	Rain (mm)	Rain Days

In [280]:
df1.__dict__

{'inner_dict': {'Sun Hours': <__main__.MySeries at 0x7fc30f8e77d0>,
  'Max Temp': <__main__.MySeries at 0x7fc30f8f6110>,
  'Min Temp': <__main__.MySeries at 0x7fc30f8f6090>,
  'Rain (mm)': <__main__.MySeries at 0x7fc30f8f62d0>,
  'Rain Days': <__main__.MySeries at 0x7fc30f8f6590>},
 'index': ['Clare', 'Galway', 'Dublin', 'Wexford']}

In [177]:
df1 = MyDataFrame(d)

dict_items([('Sun Hours', [4.5, 4.0, 5.1, 5]), ('Max Temp', [19.6, 19.1, 19.6, 20.0]), ('Min Temp', [12.7, 12.5, 13.3, 12.1]), ('Rain (mm)', [82, 109, 65, 76]), ('Rain Days', [13, 20, 10, 9.7])])
****
[('Sun Hours', [4.5, 4.0, 5.1, 5]), ('Max Temp', [19.6, 19.1, 19.6, 20.0]), ('Min Temp', [12.7, 12.5, 13.3, 12.1]), ('Rain (mm)', [82, 109, 65, 76]), ('Rain Days', [13, 20, 10, 9.7])]

In [ ]:
df1.d_dict

In [ ]:
https://www.kite.com/python/answers/how-to-print-a-list-of-lists-in-columns-in-python

In [ ]:
https://stackoverflow.com/questions/39032720/formatting-lists-into-columns-of-a-table-output-python-3

In [ ]:
https://stackoverflow.com/questions/39032720/formatting-lists-into-columns-of-a-table-output-python-3

In [ ]:
class MyDataFrame:
    def __init__(self,d, **kwargs):
        #check d is a dictionary 
        if isinstance(d,dict):
            self.dict = d
            #Create columns dictionary 
            self.columns = {}
            #if index is entered
            if 'index' in kwargs:
                #copy index list
                self.ind = kwargs['index']
                for k in self.dict
                #Create MySeries for each key-value pair and add to column dictionary 
                col = MySeries(self.dict[k], index=self.ind)
                self.column[k] = col
            #else if no index is entered
            else:
                for k in self.dict:
                    col = MySeries(self.dict[k])
                    self.column[k] = col
                #create index list
                self.ind = []
                for i in range(len(list(self.dict.values())[0])):
                    self.ind += [i]
            #create rows dictionary 
            self.rows = {}
            #for each index value
            for i in range(len(self.ind)):
                row = [] 
                #Add the ith value from eacg column to a row 
                for k in self.dict:
                    row += [self.dict[k][i]]
                #add row to rows dictionary 
                self.rows[self.ind[i]] = row
        else:
            print('Error')
            
    
    def print(self):
        #print column
        print('{:<10}'.format(''), end="")